.shaperectanglesize7-icon3 {
  top: 108px;
  left: 759px;
  width: 512px;
  height: 512px;
}
.frame-child17 {
  position: relative;
  border-radius: var(--br-31xl);
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.breaking-it-down {
  position: relative;
}
.frame-parent24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-63xl) var(--padding-xl)
    var(--padding-7xl);
  gap: var(--gap-lgi);
}
.scheduling-it {
  position: relative;
  font-weight: 500;
}
.frame-parent23 {
  top: 212px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child20 {
  top: 158.8px;
  left: 298px;
  background-color: var(--color-gold);
  width: 283px;
  height: 44px;
}
.how-to-read {
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 618px;
  height: 222px;
  -webkit-text-stroke: 3px #000;
}
.rectangle-parent {
  top: 0px;
  left: 19px;
  width: 618px;
  height: 222px;
  font-size: var(--font-size-61xl);
  font-family: var(--font-space-grotesk);
}
.frame-parent22 {
  top: 0px;
  left: 0px;
  width: 710px;
  height: 728px;
}
.shaperectanglesize7-parent {
  top: 112px;
  left: 111px;
  width: 1271px;
  height: 728px;
}
.practice-reading-102 {
  margin: 0;
}
.practice-reading-10-container2 {
  top: 0px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 745px;
  -webkit-text-stroke: 1.6px #000;
}
.button-icon4 {
  top: 143px;
  left: 115px;
  border-radius: var(--br-73xl);
  width: 497.9px;
  height: 101.7px;
  object-fit: contain;
  cursor: pointer;
}
.practice-reading-10-minutes-us-container {
  
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-space-grotesk);
}
.final {
  
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
