
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway:wght@400;600;700&display=swap');

body {
  margin: 0;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
}

  

:root {
  /* fonts */
  --font-caveat: 'Raleway';
  --font-space-grotesk: 'Raleway';
  --font-cedarville-cursive: 'Playfair Display';
  --font-lato: 'Raleway';

  /* font sizes */
  --font-size-35xl-9: 54.9px;
  --font-size-17xl: 36px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-51xl: 60px;
  --font-size-lg: 18px;
  --font-size-smi-7: 12.7px;
  --font-size-2xl: 21px;
  --font-size-61xl: 80px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-ivory: #fefff0;
  --color-black: #000;
  --color-tomato: #e63e21;
  --paper: #fff;
  --color-dimgray: #505050;
  --color-lightskyblue: #8db4e1;
  --color-gold: #ffdc58;
  --color-gray-100: #f9fcff;
  --color-gray-200: #222;
  --color-gray-300: #0c0c0c;
  --color-darkgray: #a6a9b8;
  --color-lightblue: #bae6ff;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-22xl: 41px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-5xl: 24px;
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-72xl: 91px;
  --gap-0: 0px;
  --gap-18xl: 37px;
  --gap-sm: 14px;
  --gap-12xl: 31px;
  --gap-xl: 20px;
  --gap-19xl: 38px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-63xl: 82px;
  --padding-7xl: 26px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-11xl: 30px;
  --padding-36xl: 55px;
  --padding-39xl: 58px;
  --padding-83xl: 102px;
  --padding-20xl: 39px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-18xl: 37px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-73xl: 92px;
  --br-3xs: 10px;
  --br-21xl: 40px;
}

.border-container {
  letter-spacing: 0.02em;
  line-height: 37px;
  width: 65%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border: 2px solid;
  box-shadow: 0 0 10px #0000002b;
  margin-top: 30px;
  
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}


.fade-in[data-scroll] {
	opacity: 0;
	will-change: transform, scale, opacity;
	-webkit-transform: translateY(6rem) scale(0.93);
			transform: translateY(6rem) scale(0.93);
	transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .fade-in[data-scroll="in"] {
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
			transform: translateY(0) scale(1);
  }
  

  .fade-in[data-scroll="in"] .char:after {
	opacity: 1;
	-webkit-transform: translateY(0);
			transform: translateY(0);
  }
  
  
.container {
  width: 70%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-box.verticle .flex-col {
  width: 100%;
}


.text-center {
  text-align:center;
  margin:auto;
}
.instructions {
  background: url(./public/group-1000006172.svg);
  background-size: 100%;
  background-position: center;
  text-align: center;
}

.fx-text {
  background: url(./public/group-1000006172.svg);
  background-size: 100%;
  background-position: center;
  text-align: center;
  display:flex;
  width: 640px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  align-items:center;

}
.fx-text h2 {
  font-size: 40px;
  margin:0;
}

.btn-blue {
  display: flex;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 92px;
  border: 2px solid #000;
  background: var(--primary-blue, #61bcff);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}
.btn-blue.yellow {
  background: #FFDC58;
}
* {
  box-sizing: border-box;
}

/* modal css */

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 999;
  /* opacity: 0; */
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  margin: 20px auto;
  /* position: absolute; */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  /* max-width: 600px; */
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Close button styling */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/* Show modal and content when modal is active */
.modal.active {
  display: block;
}

.modal.active .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.calculator input {
  display: flex;
  height: 60px;
  padding: 4px 14px;
  width: 100%;
  border-radius: 40px;
  border: 2px solid #000;
  background: #f9fcff;
  box-sizing: border-box;
}

.calculator {
  width: 510px;
  margin: auto;
  border: 2px solid;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px #0000002e;
}
.calculator .input {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.calculator label {
  margin-bottom: 8px;
  display: block;
}
.calculator .btn {
  width: 100%;
}
.para {
  align-self: stretch;
    position: relative;
    text-align: left;
    font-size: 18px;
    color: var(--color-gray-200);
    font-family: var(--font-lato);
    line-height:1.5;
}
.bg-theme {
  background-color: var(--color-ivory);
}
.title {
 
    font-size: 50px;
    color: var(--color-black);
    font-family: var(--font-space-grotesk);
    line-height:1.3;
    font-weight: 700;
    margin:0;
}

.bg-rib {
  display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
    justify-content:center;
    gap:30px;
  
}
.ribbon1 {
  position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 630px;
    z-index: -1;
}
#timerButton {
  font-size: 40px;
}
.flex-box {
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.inline {
  display:inline-block;
}

.mt-3 {
  margin-top:30px;
}
.mt-4 {
  margin-top:40px;
}

.mt-5 {
  margin-top:50px;
}
.congrats {
 
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-tomato);
  font-family: var(--font-space-grotesk);
}
.video-box {
  position: relative
}

.video-box video {
  width: 50%;
  margin: auto;
  display: block;
  height: 324px;
  object-fit: cover;
  position: relative;
  top: 102px;
}
.video-box img {
  position: absolute;
  width: 80%;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
}
.flex-col {
  width: 48%;
}
.pacer-holder {
  position: relative;
    width: 100%;
    margin: auto;
}

.pacer-holder .pointer{
  position: absolute;
  left: 20px;
  bottom: -20px;
  animation: slideRight 2s linear infinite;


}

@keyframes slideRight {
  to {
    left: 80%;
  }
}

ul {
  padding-left: 15px;
}
ul li{
 font-size: 18px;
 padding: 8px 0;
 list-style: square;
}
.text-center {
  text-align: center !important;
}
.bold {
  font-weight: bold;
}
.video-intro {
  width: 100%;
  border-radius: 15px;
    box-shadow: -1px 3px 16px #0000004a;
}
.flex-box.verticle {
  flex-direction: column;
}
.flex-box .flex-col {
  width: 70%;
}
.mb-5 {
  margin-bottom: 50px;
}

.mb-4 {
  margin-bottom: 40px;
}
.spacer {
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-bottom:50px;
}
.line {
  position: relative;
  display:inline-block;
}

.line:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ffdc58;
  bottom: 10px;
  z-index: -1;
  transition: all 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.line[data-scroll]:before {
  width:0;
}
.yellow-text {
   color: #e9bc13;
}
.line[data-scroll="in"]:before {
  width:100%;
}


button {
  position: relative;
  background-color: var(--color-ivory);
  color: #333;
  text-decoration: none;
  border: 2px solid #000000a6;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  border-radius:40px;
  font-weight:bold;
  cursor:pointer;
  text-decoration:none;
  letter-spacing:0;
  white-space: nowrap;

  
}
.btn-blue {
  white-space: nowrap;

}
 a {
  color:inherit;
  font-weight:bold;
  text-decoration:none;
  display:inline-block;
}
button:hover {
  letter-spacing: 0.2rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
  color:#fff;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: none;
  border-radius:40px;

}

button .text, button span {
  position: relative;
  z-index: 1;
}
button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -4px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.5s;
}

button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -4px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: .5s;
}

button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 6s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.subtitle {
  bottom: 0;
    font-size: 21px;
    font-weight: 400;
  margin-top: 10px;
  margin-bottom:30px;
}
.fixed-bottom {
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.btn-blue:hover {
  color:#333;
}

.read {
  font-family: 'Libre Baskerville', serif !important;
  letter-spacing: 0;
  font-size: 18px;
  color: #2e2e2e;
}


 .pacer-holder .img-pacer{
  width:100%;
  filter: drop-shadow(2px 4px 6px #00000060);
 }
 .bg-rib .btn {
  position: relative;
  z-index:1;
 }
 .icon-list h4 {
  margin: 0;
 }

 .bg-rib.fixed-bottom {
  margin: 8px auto;
 }
.mb-0 {
  margin-bottom:0 !important;
}
.icon-list {
  padding:0;
}
 .icon-list p {
  margin: 0;
  margin-top: 10px;
  color: #4e4e4e;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--color-gray-200);
  font-family: var(--font-lato);
  line-height:1.5;
}
.heading {
  margin: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing:0;
    position: relative;
    z-index: 10;
}

.bg_color {
  background: linear-gradient(150deg, #F2C314, #FC3832);

     border-radius: 50%;
     --size: 55px;
     width: var(--size);
     height: var(--size);
     display: flex;
     align-items: center;
     justify-content: center;
  color: #fff;
      text-shadow: 0 1px 8px #00000021;
          box-shadow: 0 7px 10px #0000001a;
          -webkit-border-radius: 50%/14% !important;
    border-radius: 50%/14% !important;
}

.fill_color {
  /* background: linear-gradient(150deg, #e44f2f 42%, #faba20);
   */
   background: linear-gradient(150deg, #F2C314, #FC3832);

 -webkit-background-clip: text !important;
 -webkit-text-fill-color: transparent;
}
.icon-list li {
  padding: 8px 0;
  list-style: square;
  /* display: flex; */
  align-items: center;
  gap: 14px;
  font-size: 21px;
  font-weight: 300;
  border-bottom: 1px solid #d1d1d1;
  padding: 14px 0px;
  margin: 15px 0px;
}

.action {
  border-radius: 8px;
border: 2px solid #5AB5E8;
background: #9ddcffa8;
box-shadow: 5px 5px 20px 0px rgba(157, 220, 255, 0.15);
padding: 15px;
marging-top: 25px;
margin-bottom:25px;
}
.action h4{
  margin: 0;
  font-size: 21px;
}
.icon-list.flex li {
  display: flex; align-items: center; gap: 20px;
}
.numbox{
  border-radius: 6px;
border: 2px solid #EECD56;
background: #FFE68C;
display: flex;
padding: 15px 25px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
font-size: 30px;
font-weight:bolder;

text-shadow: 0 1px 8px #00000021;
box-shadow: 0 7px 10px #0000001a;
-webkit-border-radius: 50%/14% !important;
border-radius: 50%/14% !important;

}
.numbox.blue {
  background: #9DDCFF;
  border-color: #5AB5E8;
}
.numbox.pink {
  background: #FFC9F0;
  border-color: #F384D4;
}
.numbox.purple {
  background: #C5A1FF;
  border-color: #BA8FFF;
}


.numbox-list li {
  display:flex;
  gap:20px;
  align-items:center;
  padding-top:15px;
  padding-bottom:15px;
}
.numbox-list li h4 {
  font-size: 21px;
  margin:0;
  margin-bottom: 5px;

}
.numbox-list li p {
  font-size: 18px;
  margin:0;
  color:#333;

}
header {
  padding: 15px 0;
}
header img {
  width: 95px;
}
header button {
  padding: 12px 40px;
}

footer {
  border-top: 1px solid #555;
    margin-top: 50px;
}
footer p {
 
}
.copyright {
  display: flex; justify-content: space-between;
}

.bg-rib {
  margin-top: 100px;
  margin-bottom:100px;
}