.rectangle-div {
  position: relative;
  background-color: var(--color-gold);
  width: 347.9px;
  height: 32.5px;
}
.frame11 {
  position: absolute;
  top: -0.2px;
  left: 268.9px;
  width: 347.9px;
  height: 174px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.introducing-the-infinity {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 709.9px;
  -webkit-text-stroke: 2.6px #000;
}
.frame12 {
  position: absolute;
  top: -0.2px;
  left: 0px;
  width: 709.9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent16 {
  position: relative;
  width: 543px;
  height: 195.1px;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: undefined;
  height: 195.1px;
  margin-left: 19px;
}
.frame-child10 {
  position: relative;
  border-radius: var(--br-31xl);
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.practice-1-minute {
  position: relative;
}
.frame-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-63xl) var(--padding-xl)
    var(--padding-7xl);
  gap: var(--gap-lgi);
}
.use-visual-pacer {
  position: relative;
  font-weight: 500;
}
.frame-parent17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-17xl);
  font-family: var(--font-lato);
}
.frame-parent15 {
  width: 671px;
  height: 747px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.shaperectanglesize7-icon2 {
  position: relative;
  width: 512px;
  height: 512px;
}
.frame-parent14 {
  align-self: stretch;
  height: 747px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 88px;
}
.using-infinity-technique {
  margin: 0;
}
.practice-reading-10-container1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 745px;
  -webkit-text-stroke: 1.6px #000;
}
.button-icon2 {
  border-radius: var(--br-73xl);
  width: 497.9px;
  height: 97px;
  object-fit: contain;
  cursor: pointer;
  position: undefined;
  margin-left: 114px;
}
.practice-reading-10-minutes-us-group {
  width: 745px;
  height: 244.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  position: undefined;
  margin-left: 272px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.infinitytechnique {
  position: relative;
  background-color: var(--color-ivory);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-63xl) 111px;
  box-sizing: border-box;
  gap: 122px;
  text-align: left;
  font-size: 70.3px;
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
