.artificial-intelligence {
  margin: 0;
  position: relative;
  background-color: var(--paper);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.artificial-intelligence-spark5 {
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.super-brain5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  text-shadow:
    0.5px 0 0 #0c0c0c,
    0 0.5px 0 #0c0c0c,
    -0.5px 0 0 #0c0c0c,
    0 -0.5px 0 #0c0c0c;
  white-space: nowrap;
  height: 47px;
}
.super-brain5:hover {
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-17xl);
  text-align: left;
  color: var(--color-gray-300);
  display: flex;
  height: 47px;
  text-shadow:
    0.5px 0 0 #0c0c0c,
    0 0.5px 0 #0c0c0c,
    -0.5px 0 0 #0c0c0c,
    0 -0.5px 0 #0c0c0c;
  white-space: nowrap;
}
.calculate-speed1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.join-community3 {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.text-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px var(--padding-10xs);
}
.super-brain4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.rectangle-wrapper {
  width: 187px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
}
.f-r-a-m-e {
  width: 307px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.frame-child24 {
  position: absolute;
  margin: 0 !important;
  right: -5px;
  bottom: 2px;
  background-color: var(--color-gold);
  width: 184px;
  height: 10px;
}
.about3 {
  position: relative;
  font-weight: 500;
}
.join-community4 {
  position: relative;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  z-index: 1;
}
.join-community4:hover {
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-3xl);
  text-align: left;
  color: var(--color-gray-300);
  display: flex;
  white-space: nowrap;
}
.rectangle-container {
  width: 321px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: var(--gap-xl);
  height: auto;
}
.rectangle-container:hover {
  display: flex;
  width: 321px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: space-between;
}
.second-rectangle {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-join-community-item {
  position: relative;
  background-color: var(--paper);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.about-join-community1 {
  align-self: stretch;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.about-join-community-wrapper {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px;
  box-sizing: border-box;
}
.story-frame {
  flex: 1;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-3xl);
}
.story-frame:hover {
  display: flex;
  flex: 1;
  height: 74px;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(0deg);
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.navbar-child5 {
  position: absolute;
  margin: 0 !important;
  top: 2px;
  left: 344.5px;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 4px;
  height: 73px;
}
.navbar-child6 {
  position: absolute;
  margin: 0 !important;
  right: 257.5px;
  bottom: -2px;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 4px;
  height: 72px;
  z-index: 2;
}
.navbar3 {
  background-color: var(--paper);
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 744px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-18xl) 0px 0px;
  position: sticky;
  gap: var(--gap-19xl);
  top: 0;
  z-index: 99;
  max-width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-300);
  font-family: var(--font-space-grotesk);
}
.navbar3:hover {
  background-color: var(--paper);
  display: flex;
  width: 744px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-19xl);
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-18xl) 0px 0px;
  box-sizing: border-box;
  border: 5px solid var(--color-black);
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
.calculate-your-speed3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  -webkit-text-stroke: 3px #000;
  max-width: 100%;
  height: 92px;
}
.calculate-your-speed3:hover {
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-51xl);
  text-align: center;
  color: var(--color-black);
  display: flex;
  height: 92px;
  -webkit-text-stroke: 3px #000;
  max-width: 100%;
}
.read-for-23 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 37px;
  font-family: var(--font-lato);
  color: var(--color-gray-200);
}
.calculate-speed-label {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.calculate-speed-label:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-8xs);
  align-items: center;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.frame-container-icon {
  flex: 1;
  border-radius: var(--br-73xl);
  max-width: 100%;
  overflow: hidden;
  height: 100.9px;
  object-fit: contain;
  background-color: var(--color-lightblue);
  display: flex;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-36xl);
  box-sizing: border-box;
  border: 8px solid var(--color-black);
}
.frame-container-icon:hover {
  background-color: var(--color-lightblue);
  display: flex;
  flex: 1;
  height: 100.9px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-73xl);
  padding: var(--padding-11xl) var(--padding-36xl);
  box-sizing: border-box;
  border: 8px solid var(--color-black);
  max-width: 100%;
}
.timerframe-954862 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 408px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  gap: var(--gap-3xs);
}
.timerframe-954862:hover {
  display: flex;
  width: 408px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.timer-frame-container {
  width: 743px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  transform: rotate(0deg);
}
.timer-frame-container:hover {
  display: flex;
  width: 743px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-5xl);
  align-items: center;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
  flex-shrink: 0;
}
.vector-start-point {
  position: absolute;
  margin: 0 !important;
  top: -106px;
  right: 80.9px;
  width: 97.1px;
  height: 72.6px;
}
.border-icon4 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  z-index: 1;
}
.border-icon4:hover {
  display: flex;
  width: 100%;
  height: 100%;
}
.rectangle-shape-icon {
  position: absolute;
  margin: 0 !important;
  top: -73px;
  left: 48px;
  border-radius: var(--br-73xl);
  width: 100.3px;
  height: 103.4px;
  object-fit: contain;
  z-index: 2;
}
.once-upon-a3 {
  margin: 0;
}
.once-upon-a-container3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 37px;
  display: flex;
  height: 1147px;
  max-width: 100%;
}
.once-upon-a-container3:hover {
  font-family: var(--font-lato);
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 37px;
  text-align: left;
  color: var(--color-gray-200);
  display: flex;
  flex: 1;
  height: 1147px;
  max-width: 100%;
}
.serenity-greeting-frame {
  width: 1108px;
  height: 451px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  gap: var(--gap-0);
  z-index: 2;
}
.serenity-greeting-frame:hover {
  display: flex;
  width: 1108px;
  height: 451px;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.fill4 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--paper);
  width: 100%;
  height: 100%;
  display: flex;
}
.fill4:hover {
  background-color: var(--paper);
  display: flex;
  width: 100%;
  height: 100%;
}
.background-frame {
  position: absolute;
  top: 26px;
  left: 1200px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gold);
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.25) inset;
  width: 16px;
  height: 215px;
  z-index: 2;
}
.calculate-results-frame {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 17px;
  width: 1252px;
  height: 512px;
}
.once-upon-a-time-frame {
  width: 1288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-29xl);
  box-sizing: border-box;
  position: relative;
  max-width: 103%;
  flex-shrink: 0;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.once-upon-a-time-frame:hover {
  display: flex;
  width: 1288px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-20xl) var(--padding-29xl);
  box-sizing: border-box;
  max-width: 103%;
  flex-shrink: 0;
}
.shaperectanglesize74 {
  filter: drop-shadow(-9px 10px 0px rgba(0, 0, 0, 0.44));
  width: 1252px;
  height: 512px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-lato);
}
.shaperectanglesize74:hover {
  display: flex;
  width: 1252px;
  height: 512px;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0px 0px 0px;
  box-sizing: border-box;
  filter: drop-shadow(-9px 10px 0px rgba(0, 0, 0, 0.44));
  max-width: 100%;
}
.macbook-pro-14-22 {
  position: relative;
  background-color: var(--color-ivory);
  width: 1512px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-39xl) var(--padding-xl) var(--padding-83xl);
  box-sizing: border-box;
  gap: var(--gap-72xl);
  letter-spacing: normal;
  height: auto;
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
.macbook-pro-14-22:hover {
  background-color: var(--color-ivory);
  display: flex;
  width: 1512px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-72xl);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-39xl) var(--padding-xl) var(--padding-83xl);
  box-sizing: border-box;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .once-upon-a-time-frame {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
