.button-icon1 {
  position: absolute;
  top: 0px;
  left: calc(50% - 248.45px);
  border-radius: var(--br-73xl);
  width: 497.9px;
  height: 101.7px;
  object-fit: contain;
  cursor: pointer;
}
.frame6 {
  position: absolute;
  top: 1810px;
  left: 507px;
  width: 497.1px;
  height: 97px;
  overflow: hidden;
}
.frame-icon4 {
  position: absolute;
  top: 162px;
  left: 0px;
  width: 46.4px;
  height: 30.7px;
  overflow: hidden;
}
.frame-child5 {
  position: relative;
  border-radius: var(--br-31xl);
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.practice-with-1-container {
  position: relative;
  font-weight: 500;
}
.frame-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-63xl) var(--padding-xl)
    var(--padding-7xl);
  gap: var(--gap-lgi);
}
.frame-parent7 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon14 {
  position: absolute;
  height: 100%;
  width: 66.67%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15 {
  position: absolute;
  height: 100%;
  width: 72.66%;
  top: 0%;
  right: 27.34%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.instructions1 {
  position: absolute;
  top: 7px;
  left: 76px;
  line-height: 110%;
}
.vector-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 384px;
  height: 78px;
}
.vector-icon16 {
  position: absolute;
  height: 9.34%;
  width: 3.03%;
  top: 13.34%;
  right: 72.37%;
  bottom: 77.32%;
  left: 24.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17 {
  position: absolute;
  height: 9.79%;
  width: 2.08%;
  top: 47.96%;
  right: 68.62%;
  bottom: 42.25%;
  left: 29.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  position: absolute;
  height: 7.71%;
  width: 2.33%;
  top: 81.54%;
  right: 72.37%;
  bottom: 10.75%;
  left: 25.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon19 {
  position: absolute;
  height: 7.34%;
  width: 1.32%;
  top: 48.04%;
  right: 76.14%;
  bottom: 44.63%;
  left: 22.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20 {
  position: absolute;
  height: 5.19%;
  width: 2.32%;
  top: 8.45%;
  right: 63.53%;
  bottom: 86.36%;
  left: 34.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  position: absolute;
  height: 6.23%;
  width: 2.48%;
  top: 38.47%;
  right: 59.02%;
  bottom: 55.3%;
  left: 38.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  position: absolute;
  height: 4.74%;
  width: 2.56%;
  top: 83.47%;
  right: 63.66%;
  bottom: 11.79%;
  left: 33.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23 {
  position: absolute;
  height: 4.37%;
  width: 1.74%;
  top: 17.27%;
  right: 53.35%;
  bottom: 78.35%;
  left: 44.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon24 {
  position: absolute;
  height: 6.89%;
  width: 1.96%;
  top: 25.13%;
  right: 14.51%;
  bottom: 67.98%;
  left: 83.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon25 {
  position: absolute;
  height: 6.6%;
  width: 2.32%;
  top: 66.12%;
  right: 53.54%;
  bottom: 27.28%;
  left: 44.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon26 {
  position: absolute;
  height: 12.31%;
  width: 2.38%;
  top: 38.18%;
  right: 45.3%;
  bottom: 49.52%;
  left: 52.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27 {
  position: absolute;
  height: 6%;
  width: 2.82%;
  top: 90.07%;
  right: 43.59%;
  bottom: 3.93%;
  left: 53.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon28 {
  position: absolute;
  height: 2.89%;
  width: 1.84%;
  top: 97.03%;
  right: 57.13%;
  bottom: 0.07%;
  left: 41.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon29 {
  position: absolute;
  height: 6.38%;
  width: 2.8%;
  top: 7.41%;
  right: 43.24%;
  bottom: 86.21%;
  left: 53.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30 {
  position: absolute;
  height: 5.63%;
  width: 3.67%;
  top: 8.23%;
  right: 28.95%;
  bottom: 86.14%;
  left: 67.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon31 {
  position: absolute;
  height: 9.49%;
  width: 2.93%;
  top: 41.07%;
  right: 30.52%;
  bottom: 49.44%;
  left: 66.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon32 {
  position: absolute;
  height: 2.97%;
  width: 1.85%;
  top: 25.65%;
  right: 36.28%;
  bottom: 71.39%;
  left: 61.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33 {
  position: absolute;
  height: 8.23%;
  width: 2.06%;
  top: 67.31%;
  right: 34.46%;
  bottom: 24.46%;
  left: 63.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34 {
  position: absolute;
  height: 5.41%;
  width: 2.33%;
  top: 90.66%;
  right: 26.01%;
  bottom: 3.93%;
  left: 71.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon35 {
  position: absolute;
  height: 6%;
  width: 2.4%;
  top: 48.55%;
  right: 18.02%;
  bottom: 45.44%;
  left: 79.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon36 {
  position: absolute;
  height: 3.93%;
  width: 2.29%;
  top: 14.16%;
  right: 21.16%;
  bottom: 81.91%;
  left: 76.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon37 {
  position: absolute;
  height: 7.49%;
  width: 2.22%;
  top: 85.17%;
  right: 17.05%;
  bottom: 7.34%;
  left: 80.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38 {
  position: absolute;
  height: 5.56%;
  width: 2.88%;
  top: 61.75%;
  right: 9.58%;
  bottom: 32.69%;
  left: 87.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39 {
  position: absolute;
  height: 4.67%;
  width: 1.82%;
  top: 65.23%;
  right: 24.28%;
  bottom: 30.1%;
  left: 73.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40 {
  position: absolute;
  height: 6.75%;
  width: 2.32%;
  top: 87.03%;
  right: 7.04%;
  bottom: 6.23%;
  left: 90.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon41 {
  position: absolute;
  height: 4.74%;
  width: 1.51%;
  top: 94.96%;
  right: 0%;
  bottom: 0.3%;
  left: 98.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 621px;
  height: 134.9px;
}
.frame-wrapper1 {
  position: absolute;
  top: 0px;
  left: calc(50% - 192px);
  width: 384px;
  height: 78px;
}
.shaperectanglesize7-icon1 {
  position: absolute;
  height: calc(100% - 140.7px);
  width: 100%;
  top: 140.7px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent12 {
  position: absolute;
  top: 88px;
  left: 747px;
  width: 512px;
  height: 652.7px;
  font-size: var(--font-size-35xl-9);
  font-family: var(--font-caveat);
}
.frame-parent6 {
  position: absolute;
  top: 832px;
  left: 0px;
  width: 1259px;
  height: 838px;
}
.to-each {
  margin: 0;
}
.now-give-1-container {
  position: absolute;
  top: 0px;
  left: calc(50% - 436.5px);
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 873px;
  -webkit-text-stroke: 1.6px #000;
}
.notebook-lines-child5 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 18.52%;
  right: -0.26%;
  bottom: 80.56%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child6 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 29.08%;
  right: -0.26%;
  bottom: 69.99%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child7 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 39.62%;
  right: -0.26%;
  bottom: 59.45%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child8 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 50.19%;
  right: -0.26%;
  bottom: 48.88%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child9 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 60.65%;
  right: -0.26%;
  bottom: 38.42%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child10 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 71.19%;
  right: -0.26%;
  bottom: 27.88%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child11 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 81.76%;
  right: -0.26%;
  bottom: 17.31%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines-child12 {
  position: absolute;
  height: 0.93%;
  width: 100.52%;
  top: 92.3%;
  right: -0.26%;
  bottom: 6.77%;
  left: -0.26%;
  border-top: 4.4px solid var(--color-lightskyblue);
  box-sizing: border-box;
}
.notebook-lines1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 843px;
  height: 474.2px;
}
.use-a-visual1 {
  position: absolute;
  top: 24px;
  left: 63px;
  line-height: 110%;
}
.in-the-tranquil-container1 {
  position: absolute;
  top: 84px;
  left: calc(50% - 358.5px);
  font-size: var(--font-size-5xl);
  line-height: 210%;
  font-family: var(--font-cedarville-cursive);
  color: var(--color-dimgray);
  text-align: justify;
  display: inline-block;
  width: 717px;
}
.cover-image1 {
  position: absolute;
  top: 26px;
  left: calc(50% - 421.5px);
  background-color: var(--paper);
  box-shadow: -5px 5px 10px 2px rgba(129, 102, 0, 0.52);
  width: 843px;
  height: 474.2px;
  overflow: hidden;
}
.frame-child9 {
  position: absolute;
  top: -1.5px;
  left: 710.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 3px solid var(--color-tomato);
  box-sizing: border-box;
  width: 3px;
  height: 586px;
}
.cover-image-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 843px;
  height: 583px;
}
.frame-icon5 {
  position: absolute;
  top: 437px;
  left: 0px;
  width: 231px;
  height: 126px;
  overflow: hidden;
}
.group-icon {
  position: absolute;
  top: 0px;
  left: 126px;
  width: 0px;
  height: 583px;
}
.frame10 {
  position: absolute;
  top: 203px;
  left: 15px;
  width: 843px;
  height: 583px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-35xl-9);
  font-family: var(--font-caveat);
}
.now-give-1-inch-indent-to-each-parent {
  position: absolute;
  top: 0px;
  left: 210px;
  width: 873px;
  height: 786px;
}
.frame9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1083px;
  height: 786px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-51xl);
}
.frame-parent5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1259px;
  height: 1670px;
}
.frame8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1259px;
  height: 1670px;
  overflow: hidden;
}
.frame7 {
  position: absolute;
  top: 73px;
  left: 110px;
  width: 1292px;
  height: 1670px;
  overflow: hidden;
}
.visualpacer-one-inch-indent {
  position: relative;
  background-color: var(--color-ivory);
  width: 100%;
  height: 2113px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
