

       
@media (min-width: 320px) and (max-width: 480px) {
  header {
    gap: 30px;
  }
    header a img {
        width: 150px;
    }

    .flex-box .flex-col {
        width: 100%;
    }
    .container {
        width: 100% !important;
    }
    .title, .find-your-starting{
        font-size: 30px !important;
    }

    button {
        position: relative;
        background-color: var(--color-ivory);
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #000000a6;
        letter-spacing: 0;
        font-size: 16px;
        padding: 10px 17px;
        transition: 0.2s;
        border-radius: 40px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    .pacer-holder {
        width: 100%;
    }
    .bg-rib {
        flex-direction: column;
    gap: 0;
    background: #ffdc58;
    padding: 15px;
    TEXT-ALIGN: CENTER;
    }

    .flex-box {
        flex-direction:column;
    }
    .pacer-holder .pointer {
        width: 70px;
    }

    .border-container {
        letter-spacing: 0;
        line-height: 34px;
        width: 90%;
        margin: auto;
        background: #fff;
        padding: 17px;
        border: 2px solid;
        box-shadow: 0 0 10px #0000002b;
    }

    .read {
        
        font-size: 18px;
    }

    .fx-text {
        background-size: 100%;
        background-position: center;
        text-align: center;
        display: flex;
        width: 310px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }
    .subtitle {
        font-size: 18px;
    }

     .calculator {
        width: 80%;
     }
  
}


@media (min-width: 480px) and (max-width: 820px) {
    .container, .border-container {
        width: 90% !important;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .speed-test {
        width: 100%;
        padding: 20px;
    }
    .calculator {
        width: 80%;
     }
     .bg-rib {
        flex-direction: column;
    gap: 0;
    background: #ffdc58;
    padding: 15px;
    TEXT-ALIGN: CENTER;
    }

    {
