

       
@media (min-width: 320px) and (max-width: 480px) {
  header {
    gap: 30px;
  }
    header a img {
        width: 150px;
    }
    .ribbon1 {
        width:100%;
    }

    .flex-box .flex-col {
        width: 100%;
    }
    .container {
        width: 100% !important;
        padding: 20px;
    }
    .title, .find-your-starting{
        font-size: 30px !important;
    }

    header button {
        font-size: 14px;
        padding: 10px 12px !important;
    }
    a {
        display:block;
    }
    button {
        position: relative;
        background-color: var(--color-ivory);
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #000000a6;
        letter-spacing: 0;
        font-size: 16px;
        padding: 14px 20px !important;
        width:100%;
        display:block;
        font-weight:normal !important;
       
    }

    .icon-list p {
      
        font-size: 16px;
    }
    .pacer-holder {
        width: 100%;
    }
    .bg-rib {
        flex-direction: column;
    gap: 0;
    background: #ffdc58;
    padding: 15px;
    TEXT-ALIGN: CENTER;
    width:90% !important;
    margin: auto;
    }
    #timerButton {
        font-size: 40px;
        margin: 0;
        margin-bottom: 10px;
    }

    .flex-box {
        flex-direction:column;
    }
    .pacer-holder .pointer {
        width: 70px;
    }

    .border-container {
        letter-spacing: 0;
        line-height: 34px;
        width: 90%;
        margin: auto;
        background: #fff;
        padding: 17px;
        border: 2px solid;
        box-shadow: 0 0 10px #0000002b;
    }

    .read {
        
        font-size: 16px;
    }

    .fx-text {
        background-size: 100%;
        background-position: center;
        text-align: center;
        display: flex;
        width: 310px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 10px;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding: 10px;
        gap: 0px;
        align-items: center;
        flex-direction: column;
        background: var(--color-gold);
        border-radius: 8px;
        box-shadow: 0 0 7px #00000040;
    }
    .numbox {
        padding: 10px 15px;
        font-size: 24px;
    }
    .numbox-list {
        padding: 0;
    }
    .subtitle {
        font-size: 18px;
    }

     .calculator {
        width: 100%;
     }
     .gooey-svg {
        display:none;
     }

     .close-modal {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 8px;
        cursor: pointer;
        color: #333;
    }

  
}


@media (min-width: 480px) and (max-width: 820px) {
    .container, .border-container {
        width: 90% !important;
    }
    .gooey-svg {
        display:none;
     }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .speed-test {
        width: 100%;
        padding: 20px;
    }
    .calculator {
        width: 80%;
     }
     .bg-rib {
        flex-direction: column;
    gap: 0;
    background: #ffdc58;
    padding: 15px;
    TEXT-ALIGN: CENTER;
    margin:auto;
    }

    {
